$footerHeight: 32px;

:root {
	--c-text-primary: #333;
	--c-text-secondary: #686b87;
	--c-text-action: #333;
	--c-text-accent: #ffffff;
	--c-accent-primary: #6d6d6d;
	--c-accent-secondary: #ff2e51;
	--c-border-primary: #f2f4f8;
	--c-background-primary: #fdfcff;
	--c-background-secondary: #fdbcb8;
	--c-background-tertiary: #f2f4f8;
	--c-disabled-background: #f2f4f8;
	--c-disabled-color: #cfd1d6;
}