// Sidebar
$sidebarWidth: 192px;
$sidebarPoke: 12px;
$sidebarPadding: 12px;
$sidebarToggle: 64px;

// Footer
$footerHeight: 32px;

:root {
	--nav-width: #{$sidebarWidth};
    --nav-width-open: var(--nav-width);
}