.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100%;
    margin: 0 !important;
    transition: background-image 1s ease-in-out;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.signature {
    margin-top: 25vh;

    > img {
        width: 60vw;
        margin-top: -6vw;
        transform: translateX(10%);
        filter: invert(1);
        user-select: none;
    }
}
