.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh;
    margin: 0 !important;
    transition: background-image 1s ease-in-out;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.signature {
    margin-top: 25vh;

    > img {
        width: 60vw;
        margin-top: -6vw;
        filter: invert(1);
        user-select: none;
    }

    > span {
        font-size: var(--text-header-xxl);
        font-family: var(--font-sans-seriff);
    }
}
