@use '../styles' as s;

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh;
    margin: 0 !important;
    transition: background-image 1s ease-in-out;
    background-size: cover;
    background-position: center;
}

.signature {
    margin-top: $xxl;

    > img {
        width: 100%;
        filter: invert(1);
    }
}
