@use '../styles' as *;

.footer {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 36px;
    font-family: var(--font-header);

    .content {
        margin-top: $xs;
        font-size: $font-sm;
    }
}
