@use '../styles' as *;

.footer {
    justify-content: center;
    display: flex;
    border-top: 1px solid var(--c-border-primary);
    width: 100%;
    height: $footer-height;

    &.alt {
        border: none;

        > div {
            background-color: color-mix(in srgb, var(--c-background-primary) 50%, transparent);
            padding: 0 8px;
            border-radius: 8px;
        }
    }

    .footerContent {
        margin-top: 6px;
        font-size: 14px;
    }
}
