// Lightbox styling
[class*='yarl__thumbnails_thumbnail'] {
    background-color: white;
}

[class*='yarl__slide_captions_container'] {
    background-color: black;
}

.gallery {
    img {
        height: auto;
        cursor: grab;

        &:hover {
            filter: brightness(80%);
            transform: scale(105%);
        }
    }
}
