@use "../styles";

.sublinks {
    line-height: inherit;

	a, button {
		&.selected:not(.open) {
			color: var(--c-accent-primary);
		}
	}

    > div {
        overflow: hidden;
        transition: height ease-in-out 0.5s;
		height: fit-content;
		text-align: right;

        > div {
            font-size: 0.75em;
			margin: 0.1em 0;

            &:first-of-type {
                margin-top: 0;
            }

			&:last-of-type {
				margin-bottom: 0;
			}
        }
    }
}