@use "../styles" as s;

.main {
    min-height: calc(100vh - s.$footerHeight - 4px);
	padding-top: 4em;
	width: calc(100vw #{s.$sidebarToggle}/2 - var(--nav-width));
	margin-left: calc(max(calc(var(--nav-width) - #{s.$sidebarPoke}), 0px) + #{s.$sidebarToggle}/2);
	transition: margin ease 0.5s;

	@media (max-width: 768px) {
		transition: none;
		width: calc(100% - #{s.$sidebarToggle}/2);
		margin-left: calc(#{s.$sidebarToggle}/2 + 8px);
	}
}

.responsiveWrapper {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	pointer-events: auto;
}

footer {
	width: 100%;
	height: s.$footerHeight;
}

.footer {
	justify-content: center;
	display: flex;
	border-top: 1px solid var(--c-border-primary);

	.footerContent {
		@include s.bodyText;
		margin-top: 6px;
		font-size: 14px;
	}
}