@use '../styles' as *;

$border-width: 1px;
$background-color: var(--background-container);

.sidebar {
    --font-body: var(--font-sans-seriff);

    position: fixed;
    height: 100%;
    left: 0;
    width: $sidebar-width;
    background-color: $background-color;
    border-right: var(--border-light);
    z-index: 100;
    display: flex;
    flex-direction: column;
    transition: transform var(--transition-medium);
    padding: 0 $sidebar-padding;

    &.closed {
        transform: translateX(-180px);
    }

    .navigation {
        width: 100%;
        min-height: 250px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1;
        margin-top: var(--space-lg);

        a,
        button {
            text-transform: uppercase;
            font-size: 32px;
        }
    }
}

.toggle {
    position: absolute;
    top: calc(50% - #{$sidebar-toggle}/ 2);
    right: calc(-#{$sidebar-toggle}/ 2);
    width: $sidebar-toggle;
    height: $sidebar-toggle;
    border-radius: calc(#{$sidebar-toggle}/ 2) !important;
    background-color: $background-color !important;
    transition: background-color var(--transition-medium);

    &:hover {
        background-color: var(--border-color-light) !important;
    }

    img {
        position: absolute;
        top: 5px;
        left: 10px;
        width: calc(#{$sidebar-toggle} - 10px);
        z-index: 950;
        filter: invert(var(--filter-inverse));
    }

    .visual {
        position: absolute;
        left: 50%;
        top: 0%;
        width: 50%;
        height: 100%;
        border-top-right-radius: calc(#{$sidebar-toggle} + #{$border-width});
        border-bottom-right-radius: calc(#{$sidebar-toggle} + #{$border-width});
        border: var(--border-light);
        border-left: 0;
    }
}

.signature {
    width: 100%;
    height: 5vh;
    padding: 0.25em;
    margin-top: 2em;
    text-align: center;

    img {
        width: 100%;
        filter: invert(var(--filter-inverse));
    }
}

.sublinks {
    width: 100%;

    > div > [class*='content'] {
        padding: 0 !important;

        a,
        button {
            font-size: 24px !important;
        }
    }
}
