@use "./styles";

html {
    height: 100%;
	display: block;
    box-sizing: border-box;

	/*&::-webkit-scrollbar {
	  width: 10px;
	}
  
	&::-webkit-scrollbar-track {
	  background: var(--c-border-primary);
	}
  
	&::-webkit-scrollbar-thumb {
	  background-color: var(--c-border-primary);
	  border-radius: 10px;
	  border: 3px solid lightgrey;
	}*/
}

body {
    height: 100%;
	line-height: 1.5;
	background-color: var(--c-background-primary);
	color: var(--c-text-primary);
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: .1rem;
}

a {
	text-decoration: none;
}