@use "./styles/colors";

* {
    margin: 0;
    padding: 0;   
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    height: 100%;
	display: block;
    box-sizing: border-box;

	&::-webkit-scrollbar {
	  width: 10px;
	}
  
	&::-webkit-scrollbar-track {
	  background: var(--c-border-primary);
	}
  
	&::-webkit-scrollbar-thumb {
	  background-color: lightgrey;
	  border-radius: 10px;
	  border: 3px solid var(--c-border-primary);
	}
}

::selection {
	background: var(#{--c-disabled-color});
}

body {
    height: 100%;
	line-height: 1.5;
	font-family: 'Bebas Neue', cursive;
	background-color: var(--c-background-primary);
	color: var(--c-text-primary);
	overflow-x: hidden;
    background-color: aqua;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: .1rem;
}